@page "/addblog"



<PageTitle>Add Blog</PageTitle>

<form>
    <div class="form-group mb-2">
        <label for="exampleFormControlFile1">Image</label>
        <input type="file" class="form-control-file" id="exampleFormControlFile1">
    </div>
    <div class="form-group mb-2">
        <label for="exampleInputEmail1">Title</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter title">
    </div>
    <div class="form-group mb-2">
        <label for="exampleInputPassword1">Description</label>
        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter Description">
    </div>
  

    <button type="submit" class=" btn btn-primary">Add Blog</button>
</form>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}

