@layout LoginLayout
@page "/login"
@using BlogApp.ClassLib.Model;
@inject NavigationManager NavigationManager
@inject HttpClient HttpClient
<PageTitle>Login</PageTitle>
<h3>Login</h3>



<div class="form-group">
    <label for="username">Username:</label>
    <input type="text" class="form-control" @bind="username" />
</div>

<div class="form-group">
    <label for="password">Password:</label>
    <input type="password" class="form-control" @bind="password" />
</div>

<button class="btn btn-primary" @onclick="HandleLogin">Login</button>
<button class="btn btn-primary" @onclick="HandleRegister">Register</button>

@code {
    private string username;
    private string password;
    private User[] users;
    private string errorMessage;

    protected override async Task OnInitializedAsync()
    {
        var users = await HttpClient.GetAsync("https://localhost:7111/api/User");
        Console.WriteLine("User " + users.StatusCode);
    }
    private void HandleLogin()
    {
        NavigationManager.NavigateTo("/");
    }
    private void HandleRegister()
    {
        NavigationManager.NavigateTo("/register"); 
    }
}
