@page "/editblog"
<PageTitle>Profile Edit</PageTitle>
<h3>Profile Edit</h3>

<form>
    <div class="form-group mb-2">
        <label for="exampleInputEmail1">Name</label>
        <input type="text" class="form-control" id="exampleInputName" aria-describedby="emailHelp" placeholder="Enter Name" >
    </div>
    <div class="form-group mb-2">
        <label for="exampleInputEmail1">Last Name</label>
        <input type="text" class="form-control" id="exampleInputLastName" aria-describedby="emailHelp" placeholder="Enter Last Name" >
    </div>
    <div class="form-group mb-2">
        <label for="exampleInputEmail1">Email</label>
        <input type="email" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Enter Email" >
    </div>
    <div class="form-group mb-2">
        <label for="exampleInputEmail1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword" aria-describedby="emailHelp" placeholder="Enter Passowrd" >
    </div>
    <div class="form-group mb-2">
        <label for="exampleInputEmail1">Password Reset</label>
        <input type="password" class="form-control" id="exampleInputPasswordReset" aria-describedby="emailHelp" placeholder="Enter Passowrd Reset" >
    </div>

    <button type="submit" class=" btn btn-primary">Profile Edit</button>
</form>


@code {

}
